body{
    font-family:  cursive;
    background-color: antiquewhite;
    background-image: none;
    color: black;
}
.container{
    width: 700px;
    margin: auto;
    background-color: white;
}
.header{
    padding: 20px;
}
.header .judul{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.header ul li{
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 12px;
    padding:10px;
}
.header a{
    text-decoration: none;
    color: black;
}
.header a:hover{
    background-color: grey;
    color: white;
}
.hero {
    height: 400px;
    background-image: url(./img/UpacaraBendera.jpg);
    background-size: cover;
    background-position: 0 0;
    border: solid rgb(0, 0, 0);
}
#about{
    font-size: 18px;
}
.footer{
    color: white;
    background-color:black;
    padding: 10px;
}
#contact ul li{
    display: inline-block;
    font-size: 30px;
    padding: 10px;
}
.footer .copy{
    color: white;
    text-align: center;
    font-size: 20px;
}